body{
  background: rgb(23,35,222);
background: linear-gradient(90deg, rgba(23,35,222,1) 15%, rgba(20,33,158,1) 20%, rgba(5,19,77,1) 25%, rgba(5,19,77,1) 75%, rgba(23,35,222,1) 83%);
}

.carru{
color: red;

}

#series_desp{
  width: 150px;
}
#pelis-desp{
  width: 150px;
  float: right;
}

#text-center{
text-align: center;
}
.titulos{
  color: red;
  font-family: Comic Sans MS;
}

#centered{
top: 50%;
left: 50%;
border: 7px solid;
border-color: gold;
padding-bottom: auto;
margin-left: 25%;
margin-right: 25%;
}
